<form name="bookForm" (ngSubmit)="confirmBook(offer)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.book.title">Confirm book operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-book-offer-heading" jhiTranslate="myWeddingApp.offer.book.question" [translateValues]="{id: offer.id}">Are you sure you want to book this Offer?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button id="jhi-confirm-book-offer" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.book">Book</span>
        </button>
    </div>
</form>
