<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-offer-heading" jhiTranslate="myWeddingApp.offer.home.createOrEditLabel">Create or edit a
                Offer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!offer.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="offer.id" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.eventDate" for="field_eventDate">Event
                        Date</label>
                    <div class="d-flex">
                        <input id="field_eventDate" type="datetime-local" class="form-control" name="eventDate"
                               [(ngModel)]="eventDate" placeholder="YYYY-MM-DD HH:mm"
                               required/>
                    </div>
                    <div [hidden]="!(editForm.controls.eventDate?.dirty && editForm.controls.eventDate?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.eventDate?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.eventDate?.errors?.ZonedDateTimelocal"
                               jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.description"
                           for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           [(ngModel)]="offer.description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.pricePerCapita"
                           for="field_pricePerCapita">Price Per Capita</label>
                    <input type="number" class="form-control" name="pricePerCapita" id="field_pricePerCapita"
                           [(ngModel)]="offer.pricePerCapita" required/>
                    <div
                        [hidden]="!(editForm.controls.pricePerCapita?.dirty && editForm.controls.pricePerCapita?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.pricePerCapita?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.pricePerCapita?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.startDate" for="field_startDate">Start
                        Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker
                               #startDateDp="ngbDatepicker" [(ngModel)]="offer.startDate"
                               required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.startDate?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.endDate" for="field_endDate">End
                        Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker
                               #endDateDp="ngbDatepicker" [(ngModel)]="offer.endDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.weddingHall"
                           for="field_weddingHall">Wedding Hall</label>
                    <select class="form-control" id="field_weddingHall" name="weddingHall"
                            [(ngModel)]="offer.weddingHall" required>
                        <option *ngIf="!editForm.value.weddingHall" [ngValue]="null" selected></option>
                        <option
                            [ngValue]="weddingHallOption.id === offer.weddingHall?.id ? offer.weddingHall : weddingHallOption"
                            *ngFor="let weddingHallOption of weddinghalls; trackBy: trackWeddingHallById">{{weddingHallOption.hallName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.weddingHall?.dirty && editForm.controls.weddingHall?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.weddingHall?.errors?.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="gallery-details">
                    <h4 id="jhi-wedding-hall-gallery-heading"
                        jhiTranslate="myWeddingApp.weddingHall.home.galleryLabel">Gallery</h4>
                    <div *ngFor="let photo of offer.album.photos; trackBy: trackPhotosById">
                        <fieldset>
                            <button type="button"
                                    (click)="deleteImage(photo)"
                                    class="btn btn-secondary btn-xs pull-right">
                                Remove photo
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                            <div class="form-group" [hidden]="!photo.id">
                                <label for="id" jhiTranslate="global.field.id">ID</label>
                                <input type="text" class="form-control" id="photo_${i}_id" name="photo_${i}_id"
                                       [(ngModel)]="photo.id" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="myWeddingApp.photo.title"
                                       for="field_photo_${i}_title">Title</label>
                                <input type="text" class="form-control" name="photo_${i}_title"
                                       id="field_photo_${i}_title"
                                       [(ngModel)]="photo.title" required/>
                                <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.title?.errors?.required"
                                           jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="myWeddingApp.photo.description"
                                       for="field_photo_${i}_description">Description</label>
                                <textarea class="form-control" name="photo_${i}_description"
                                          id="field_photo_${i}_description"
                                          [(ngModel)]="photo.description"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="myWeddingApp.photo.image"
                                       for="field_photo_${i}_image">Image</label>
                                <div>
                                    <img [src]="'data:' + photo.imageContentType + ';base64,' + photo.image"
                                         style="max-height: 100px;" *ngIf="photo.image" alt="photo image"/>
                                    <div *ngIf="photo.image" class="form-text text-danger clearfix">
                                        <span class="pull-left">{{photo.imageContentType}}
                                            , {{byteSize(photo.image)}}</span>
                                        <button type="button"
                                                (click)="clearInputImage(photo, 'image', 'imageContentType', 'fileImage')"
                                                class="btn btn-secondary btn-xs pull-right">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                        </button>
                                    </div>
                                    <input type="file" id="file_photo_${i}_image"
                                           (change)="setFileData($event, photo, 'image', true)"
                                           accept="image/*" jhiTranslate="entity.action.addimage"/>
                                </div>
                                <input type="hidden" class="form-control" name="photo_${i}_image"
                                       id="field_photo_${i}_image"
                                       [(ngModel)]="photo.image" required/>
                                <input type="hidden" class="form-control" name="imageContentType"
                                       id="field_imageContentType"
                                       [(ngModel)]="photo.imageContentType"/>
                                <div [hidden]="!(editForm.controls.image?.dirty && editForm.controls.image?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.image?.errors?.required"
                                           jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <hr/>
                        </fieldset>
                    </div>

                    <div>
                        <button type="button"
                                (click)="newImage()"
                                class="btn btn-secondary btn-xs pull-right">
                            New image
                            <fa-icon [icon]="'plus'"></fa-icon>
                        </button>
                        <br/>
                    </div>
                </div>
            </div>
    </div>
    <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
    </form>
</div>
</div>
