<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-offer-heading" jhiTranslate="myWeddingApp.offer.home.createOrEditLabel">Create or edit a Offer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!offer.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="offer.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="offer.description" required/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.minPrice" for="field_minPrice">Min Price</label>
                    <input type="number" class="form-control" name="minPrice" id="field_minPrice"
                        [(ngModel)]="offer.minPrice" required/>
                    <div [hidden]="!(editForm.controls.minPrice?.dirty && editForm.controls.minPrice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.minPrice?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.minPrice?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.maxPrice" for="field_maxPrice">Max Price</label>
                    <input type="number" class="form-control" name="maxPrice" id="field_maxPrice"
                        [(ngModel)]="offer.maxPrice" required/>
                    <div [hidden]="!(editForm.controls.maxPrice?.dirty && editForm.controls.maxPrice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.maxPrice?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.maxPrice?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.priceUnit" for="field_priceUnit">Price Unit</label>
                    <input type="text" class="form-control" name="priceUnit" id="field_priceUnit"
                        [(ngModel)]="offer.priceUnit" required/>
                    <div [hidden]="!(editForm.controls.priceUnit?.dirty && editForm.controls.priceUnit?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.priceUnit?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div [hidden]="!(editForm.controls.weddingHall?.dirty && editForm.controls.weddingHall?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.weddingHall?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.album" for="field_album">Album</label>
                    <select class="form-control" id="field_album" name="album" [(ngModel)]="offer.album">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="albumOption.id === offer.album?.id ? offer.album : albumOption" *ngFor="let albumOption of albums; trackBy: trackAlbumById">{{albumOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.photo" for="field_photo">Photo</label>
                    <select class="form-control" id="field_photo" name="photo" [(ngModel)]="offer.photo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="photoOption.id === offer.photo?.id ? offer.photo : photoOption" *ngFor="let photoOption of photos; trackBy: trackPhotoById">{{photoOption.coverPhoto}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
