<div>
    <h2 id="page-heading">
        <span jhiTranslate="myWeddingApp.offer.home.title">Offers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-offer" [routerLink]="['/offer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="myWeddingApp.offer.home.createLabel">
            Create new Offer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="offers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="myWeddingApp.offer.description">Description</span></th>
            <th><span jhiTranslate="myWeddingApp.offer.minPrice">Min Price</span></th>
            <th><span jhiTranslate="myWeddingApp.offer.maxPrice">Max Price</span></th>
            <th><span jhiTranslate="myWeddingApp.offer.priceUnit">Price Unit</span></th>
            <th><span jhiTranslate="myWeddingApp.offer.album">Album</span></th>
            <th><span jhiTranslate="myWeddingApp.offer.photo">Photo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let offer of offers ;trackBy: trackId">
                <td><a [routerLink]="['/offer', offer.id, 'view' ]">{{offer.id}}</a></td>
                <td>{{offer.description}}</td>
                <td>{{offer.minPrice}}</td>
                <td>{{offer.maxPrice}}</td>
                <td>{{offer.priceUnit}}</td>
                <td>
                    <div *ngIf="offer.album">
                        <a [routerLink]="['/album', offer.album?.id, 'view' ]" >{{offer.album?.title}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="offer.photo">
                        <a [routerLink]="['/photo', offer.photo?.id, 'view' ]" >{{offer.photo?.coverPhoto}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/offer', offer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/offer', offer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'offer', { outlets: { popup: offer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
