<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-offer-heading" jhiTranslate="myWeddingApp.offer.home.createOrEditLabel">Create or edit a Offer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!offer.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="offer.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.eventDate" for="field_eventDate">Event Date</label>
                    <div class="d-flex">
                        <input id="field_eventDate" type="datetime-local" class="form-control" name="eventDate" [(ngModel)]="eventDate" placeholder="YYYY-MM-DD HH:mm"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.eventDate?.dirty && editForm.controls.eventDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.eventDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.eventDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="offer.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.pricePerCapita" for="field_pricePerCapita">Price Per Capita</label>
                    <input type="number" class="form-control" name="pricePerCapita" id="field_pricePerCapita"
                        [(ngModel)]="offer.pricePerCapita" required/>
                    <div [hidden]="!(editForm.controls.pricePerCapita?.dirty && editForm.controls.pricePerCapita?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.pricePerCapita?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.pricePerCapita?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.available" for="field_available">Available</label>
                    <input type="checkbox" class="form-control" name="available" id="field_available"
                        [(ngModel)]="offer.available" />
                    <div [hidden]="!(editForm.controls.available?.dirty && editForm.controls.available?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.available?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.startDate" for="field_startDate">Start Date</label>
                    <div class="d-flex">
                        <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" [(ngModel)]="startDate" placeholder="YYYY-MM-DD HH:mm"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.startDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.startDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.endDate" for="field_endDate">End Date</label>
                    <div class="d-flex">
                        <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" [(ngModel)]="endDate" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.offer.weddingHall" for="field_weddingHall">Wedding Hall</label>
                    <select class="form-control" id="field_weddingHall" name="weddingHall" [(ngModel)]="offer.weddingHall"  required>
                        <option *ngIf="!editForm.value.weddingHall" [ngValue]="null" selected></option>
                        <option [ngValue]="weddingHallOption.id === offer.weddingHall?.id ? offer.weddingHall : weddingHallOption" *ngFor="let weddingHallOption of weddinghalls; trackBy: trackWeddingHallById">{{weddingHallOption.hallName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.weddingHall?.dirty && editForm.controls.weddingHall?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.weddingHall?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
