<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="offer">
            <h2><span jhiTranslate="myWeddingApp.offer.detail.title">Offer</span> {{offer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myWeddingApp.offer.description">Description</span></dt>
                <dd>
                    <span>{{offer.description}}</span>
                </dd>
                <dt><span jhiTranslate="myWeddingApp.offer.minPrice">Min Price</span></dt>
                <dd>
                    <span>{{offer.minPrice}}</span>
                </dd>
                <dt><span jhiTranslate="myWeddingApp.offer.maxPrice">Max Price</span></dt>
                <dd>
                    <span>{{offer.maxPrice}}</span>
                </dd>
                <dt><span jhiTranslate="myWeddingApp.offer.priceUnit">Price Unit</span></dt>
                <dd>
                    <span>{{offer.priceUnit}}</span>
                </dd>
                <dt><span jhiTranslate="myWeddingApp.offer.album">Album</span></dt>
                <dd>
                    <div *ngIf="offer.album">
                        <a [routerLink]="['/album', offer.album?.id, 'view']">{{offer.album?.title}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="myWeddingApp.offer.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="offer.photo">
                        <a [routerLink]="['/photo', offer.photo?.id, 'view']">{{offer.photo?.coverPhoto}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/offer', offer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
