<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span jhiTranslate="myWeddingApp.address.detail.title">Address</span> {{address.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myWeddingApp.address.street">Street</span></dt>
                <dd>
                    <span>{{address.street}}</span>
                </dd>
                <dt><span jhiTranslate="myWeddingApp.address.houseNo">House No</span></dt>
                <dd>
                    <span>{{address.houseNo}}</span>
                </dd>
                <dt><span jhiTranslate="myWeddingApp.address.flatNo">Flat No</span></dt>
                <dd>
                    <span>{{address.flatNo}}</span>
                </dd>
                <dt><span jhiTranslate="myWeddingApp.address.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{address.postalCode}}</span>
                </dd>
                <dt><span jhiTranslate="myWeddingApp.address.country">Country</span></dt>
                <dd>
                    <div *ngIf="address.country">
                        <a [routerLink]="['/country', address.country?.id, 'view']">{{address.country?.countryName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="myWeddingApp.address.province">Province</span></dt>
                <dd>
                    <div *ngIf="address.province">
                        <a [routerLink]="['/province', address.province?.id, 'view']">{{address.province?.provinceName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="myWeddingApp.address.city">City</span></dt>
                <dd>
                    <div *ngIf="address.city">
                        <a [routerLink]="['/city', address.city?.id, 'view']">{{address.city?.cityName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
