<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-address-heading" jhiTranslate="myWeddingApp.address.home.createOrEditLabel">Create or edit a Address</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!address.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="address.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.address.street" for="field_street">Street</label>
                    <input type="text" class="form-control" name="street" id="field_street"
                        [(ngModel)]="address.street" required/>
                    <div [hidden]="!(editForm.controls.street?.dirty && editForm.controls.street?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.street?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.address.houseNo" for="field_houseNo">House No</label>
                    <input type="text" class="form-control" name="houseNo" id="field_houseNo"
                        [(ngModel)]="address.houseNo" required/>
                    <div [hidden]="!(editForm.controls.houseNo?.dirty && editForm.controls.houseNo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.houseNo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.address.flatNo" for="field_flatNo">Flat No</label>
                    <input type="text" class="form-control" name="flatNo" id="field_flatNo"
                        [(ngModel)]="address.flatNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.address.postalCode" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                        [(ngModel)]="address.postalCode" required/>
                    <div [hidden]="!(editForm.controls.postalCode?.dirty && editForm.controls.postalCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.postalCode?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.address.country" for="field_country">Country</label>
                    <select class="form-control" id="field_country" name="country" [(ngModel)]="address.country"  required>
                        <option *ngIf="!editForm.value.country" [ngValue]="null" selected></option>
                        <option [ngValue]="countryOption.id === address.country?.id ? address.country : countryOption" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.countryName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.country?.dirty && editForm.controls.country?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.country?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.address.province" for="field_province">Province</label>
                    <select class="form-control" id="field_province" name="province" [(ngModel)]="address.province"  required>
                        <option *ngIf="!editForm.value.province" [ngValue]="null" selected></option>
                        <option [ngValue]="provinceOption.id === address.province?.id ? address.province : provinceOption" *ngFor="let provinceOption of provinces; trackBy: trackProvinceById">{{provinceOption.provinceName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.province?.dirty && editForm.controls.province?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.province?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.address.city" for="field_city">City</label>
                    <select class="form-control" id="field_city" name="city" [(ngModel)]="address.city"  required>
                        <option *ngIf="!editForm.value.city" [ngValue]="null" selected></option>
                        <option [ngValue]="cityOption.id === address.city?.id ? address.city : cityOption" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.cityName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.city?.dirty && editForm.controls.city?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.city?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
