<div>
    <h2 id="page-heading">
        <span jhiTranslate="myWeddingApp.company.home.title">Companies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-company" [routerLink]="['/company/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="myWeddingApp.company.home.createLabel">
            Create new Company
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'myWeddingApp.company.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="companies">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="myWeddingApp.company.companyName">Company Name</span></th>
            <th><span jhiTranslate="myWeddingApp.company.street">Street</span></th>
            <th><span jhiTranslate="myWeddingApp.company.houseNo">House No</span></th>
            <th><span jhiTranslate="myWeddingApp.company.flatNo">Flat No</span></th>
            <th><span jhiTranslate="myWeddingApp.company.postalCode">Postal Code</span></th>
            <th><span jhiTranslate="myWeddingApp.company.owner">Owner</span></th>
            <th><span jhiTranslate="myWeddingApp.company.country">Country</span></th>
            <th><span jhiTranslate="myWeddingApp.company.province">Province</span></th>
            <th><span jhiTranslate="myWeddingApp.company.city">City</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let company of companies ;trackBy: trackId">
                <td><a [routerLink]="['/company', company.id, 'view' ]">{{company.id}}</a></td>
                <td>{{company.companyName}}</td>
                <td>{{company.street}}</td>
                <td>{{company.houseNo}}</td>
                <td>{{company.flatNo}}</td>
                <td>{{company.postalCode}}</td>
                <td>
                    {{company.owner?.login}}
                </td>
                <td>
                    <div *ngIf="company.country">
                        <a [routerLink]="['../country', company.country?.id, 'view' ]" >{{company.country?.countryName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="company.province">
                        <a [routerLink]="['../province', company.province?.id, 'view' ]" >{{company.province?.provinceName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="company.city">
                        <a [routerLink]="['../city', company.city?.id, 'view' ]" >{{company.city?.cityName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/company', company.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/company', company.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'company', { outlets: { popup: company.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
