<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-company-heading" jhiTranslate="myWeddingApp.company.home.createOrEditLabel">Create or edit a Company</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!company.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="company.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.company.companyName" for="field_companyName">Company Name</label>
                    <input type="text" class="form-control" name="companyName" id="field_companyName"
                        [(ngModel)]="company.companyName" required/>
                    <div [hidden]="!(editForm.controls.companyName?.dirty && editForm.controls.companyName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.companyName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.company.street" for="field_street">Street</label>
                    <input type="text" class="form-control" name="street" id="field_street"
                        [(ngModel)]="company.street" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.company.houseNo" for="field_houseNo">House No</label>
                    <input type="text" class="form-control" name="houseNo" id="field_houseNo"
                        [(ngModel)]="company.houseNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.company.flatNo" for="field_flatNo">Flat No</label>
                    <input type="text" class="form-control" name="flatNo" id="field_flatNo"
                        [(ngModel)]="company.flatNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.company.postalCode" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                        [(ngModel)]="company.postalCode" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.company.owner" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" [(ngModel)]="company.owner" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === company.owner?.id ? company.owner : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.company.country" for="field_country">Country</label>
                    <select class="form-control" id="field_country" name="country" [(ngModel)]="company.country" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="countryOption.id === company.country?.id ? company.country : countryOption" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.countryName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.company.province" for="field_province">Province</label>
                    <select class="form-control" id="field_province" name="province" [(ngModel)]="company.province" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="provinceOption.id === company.province?.id ? company.province : provinceOption" *ngFor="let provinceOption of provinces; trackBy: trackProvinceById">{{provinceOption.provinceName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.company.city" for="field_city">City</label>
                    <select class="form-control" id="field_city" name="city" [(ngModel)]="company.city" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cityOption.id === company.city?.id ? company.city : cityOption" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.cityName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
