<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-customer-heading" jhiTranslate="myWeddingApp.customer.home.createOrEditLabel">Create or edit a Customer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!customer.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="customer.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.customer.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                        [(ngModel)]="customer.phoneNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.customer.street" for="field_street">Street</label>
                    <input type="text" class="form-control" name="street" id="field_street"
                        [(ngModel)]="customer.street" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.customer.houseNo" for="field_houseNo">House No</label>
                    <input type="text" class="form-control" name="houseNo" id="field_houseNo"
                        [(ngModel)]="customer.houseNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.customer.flatNo" for="field_flatNo">Flat No</label>
                    <input type="text" class="form-control" name="flatNo" id="field_flatNo"
                        [(ngModel)]="customer.flatNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.customer.postalCode" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                        [(ngModel)]="customer.postalCode" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.customer.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="customer.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === customer.user?.id ? customer.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.customer.country" for="field_country">Country</label>
                    <select class="form-control" id="field_country" name="country" [(ngModel)]="customer.country"  required>
                        <option *ngIf="!editForm.value.country" [ngValue]="null" selected></option>
                        <option [ngValue]="countryOption.id === customer.country?.id ? customer.country : countryOption" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.countryName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.country?.dirty && editForm.controls.country?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.country?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.customer.province" for="field_province">Province</label>
                    <select class="form-control" id="field_province" name="province" [(ngModel)]="customer.province"  required>
                        <option *ngIf="!editForm.value.province" [ngValue]="null" selected></option>
                        <option [ngValue]="provinceOption.id === customer.province?.id ? customer.province : provinceOption" *ngFor="let provinceOption of provinces; trackBy: trackProvinceById">{{provinceOption.provinceName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.province?.dirty && editForm.controls.province?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.province?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myWeddingApp.customer.city" for="field_city">City</label>
                    <select class="form-control" id="field_city" name="city" [(ngModel)]="customer.city" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cityOption.id === customer.city?.id ? customer.city : cityOption" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.cityName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
