<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span jhiTranslate="myWeddingApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myWeddingApp.customer.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{customer.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="myWeddingApp.customer.user">User</span></dt>
                <dd>
                    {{customer.user?.login}}
                </dd>
                <dt><span jhiTranslate="myWeddingApp.customer.address">Address</span></dt>
                <dd>
                    <div *ngIf="customer.address">
                        <a [routerLink]="['/address', customer.address?.id, 'view']">{{customer.address?.postalCode}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
