<div>
    <h2 id="page-heading">
        <span jhiTranslate="myWeddingApp.reservationOrder.home.title">Reservation Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reservation-order" [routerLink]="['/reservation-order/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="myWeddingApp.reservationOrder.home.createLabel">
            Create new Reservation Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="reservationOrders">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="myWeddingApp.reservationOrder.reservationConfirmed">Reservation Confirmed</span></th>
            <th><span jhiTranslate="myWeddingApp.reservationOrder.guestCount">Guest Count</span></th>
            <th><span jhiTranslate="myWeddingApp.reservationOrder.downPaymentAmount">Down Payment Amount</span></th>
            <th><span jhiTranslate="myWeddingApp.reservationOrder.downPaymentSettled">Down Payment Settled</span></th>
            <th><span jhiTranslate="myWeddingApp.reservationOrder.createDate">Create Date</span></th>
            <th><span jhiTranslate="myWeddingApp.reservationOrder.modificationDate">Modification Date</span></th>
            <th><span jhiTranslate="myWeddingApp.reservationOrder.offer">Offer</span></th>
            <th><span jhiTranslate="myWeddingApp.reservationOrder.customer">Customer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reservationOrder of reservationOrders ;trackBy: trackId">
                <td><a [routerLink]="['/reservation-order', reservationOrder.id, 'view' ]">{{reservationOrder.id}}</a></td>
                <td>{{reservationOrder.reservationConfirmed}}</td>
                <td>{{reservationOrder.guestCount}}</td>
                <td>{{reservationOrder.downPaymentAmount}}</td>
                <td>{{reservationOrder.downPaymentSettled}}</td>
                <td>{{reservationOrder.createDate | date:'mediumDate'}}</td>
                <td>{{reservationOrder.modificationDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="reservationOrder.offer">
                        <a [routerLink]="['/offer', reservationOrder.offer?.id, 'view' ]" >{{reservationOrder.offer?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="reservationOrder.customer">
                        <a [routerLink]="['/customer', reservationOrder.customer?.id, 'view' ]" >{{reservationOrder.customer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/reservation-order', reservationOrder.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reservation-order', reservationOrder.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'reservation-order', { outlets: { popup: reservationOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
