<div>
    <h2 id="page-heading">
        <span jhiTranslate="myWeddingApp.weddingHall.home.title">Wedding Halls</span>
        <button [routerLink]="['/ext/wedding-hall/new']"
                class="btn btn-primary float-right jh-create-entity create-wedding-hall" id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="myWeddingApp.weddingHall.home.createLabel">
            Create new Wedding Hall
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline" name="searchForm">
                <div class="input-group w-100 mt-3">
                    <input [(ngModel)]="currentSearch" class="form-control" id="currentSearch" name="currentSearch"
                           placeholder="{{ 'myWeddingApp.weddingHall.home.search' | translate }}" type="text">
                    <button (click)="search(currentSearch)" class="input-group-append btn btn-info">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button (click)="clear()" *ngIf="currentSearch" class="input-group-append btn btn-danger">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div *ngIf="weddingHalls" class="table-responsive">
        <div class="row" *ngFor="let weddingHall of weddingHalls ;trackBy: trackId">
            <div class="col-md-3">
                <a [routerLink]="['/ext/wedding-hall', weddingHall.id, 'view' ]">
                    <div
                        *ngIf="weddingHall.album && weddingHall.album.photos && weddingHall.album.photos[0].image; else placeholder">
                        <img
                            [src]="'data:' + weddingHall.album.photos[0].imageContentType + ';base64,' + weddingHall.album.photos[0].image"
                            style="max-width: 350px;" alt="photo image"/>
                    </div>
                    <ng-template #placeholder>
                        <img src="http://via.placeholder.com/350x200" style="max-width: 350px;" alt="placeholder"/>
                    </ng-template>
                </a>
            </div>
            <div class="col-md-9">
                <a [routerLink]="['/ext/wedding-hall', weddingHall.id, 'view' ]"><h2>{{weddingHall.hallName}}</h2>
                </a>
                <h4>{{weddingHall.city?.cityName}}</h4>
                <div class="row">
                    <div class="col-md-6">
                        foto-max · Dziękujemy, że zainteresowaliście się nasza ofertą. Zajmujemy się fotografią ślubną
                        już kilkanaście lat. Uwielbiamy to robić, bo wierzymy, że na każdym ślubie i weselu jest garś
                    </div>
                    <div class="col-md-6">
                        170 - 220 zł / os
                    </div>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
        </div>

    </div>
</div>
