<div class="row justify-content-center">
    <div class="col-8">
        <form #editForm="ngForm" (ngSubmit)="save()" name="editForm" novalidate role="form">
            <h2 id="jhi-wedding-hall-heading" jhiTranslate="myWeddingApp.weddingHall.home.createOrEditLabel">Create or
                edit a Wedding Hall</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div [hidden]="true" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input [(ngModel)]="weddingHall.id" class="form-control" id="id" name="id"
                           readonly type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_company"
                           jhiTranslate="myWeddingApp.weddingHall.company">Company</label>
                    <input [(ngModel)]="weddingHall.company.companyName" class="form-control" id="field_company"
                           name="companyName"
                           readonly type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hallName"
                           jhiTranslate="myWeddingApp.weddingHall.hallName">Hall Name</label>
                    <input [(ngModel)]="weddingHall.hallName" class="form-control" id="field_hallName" name="hallName"
                           required type="text"/>
                    <div [hidden]="!(editForm.controls.hallName?.dirty && editForm.controls.hallName?.invalid)">
                        <small [hidden]="!editForm.controls.hallName?.errors?.required"
                               class="form-text text-danger" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="address-details">
                    <h4 id="jhi-customer-address-heading"
                        jhiTranslate="myWeddingApp.customer.home.addressLabel">Address</h4>
                    <div class="form-group">
                        <label class="form-control-label" for="field_country"
                               jhiTranslate="myWeddingApp.weddingHall.country">Country</label>
                        <ng-select [(ngModel)]="weddingHall.country"
                                   [items]="countries"
                                   bindLabel="countryName"
                                   id="field_country"
                                   name="country"
                                   required="true">
                        </ng-select>
                    </div>
                    <div [hidden]="!(editForm.controls.country?.dirty && editForm.controls.country?.invalid)">
                        <small [hidden]="!editForm.controls.country?.errors?.required"
                               class="form-text text-danger" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_province"
                               jhiTranslate="myWeddingApp.weddingHall.province">Province</label>
                        <ng-select [(ngModel)]="weddingHall.province"
                                   [items]="provinces"
                                   bindLabel="provinceName"
                                   id="field_province"
                                   name="province"
                                   required="true">
                        </ng-select>
                    </div>
                    <div [hidden]="!(editForm.controls.province?.dirty && editForm.controls.province?.invalid)">
                        <small [hidden]="!editForm.controls.province?.errors?.required"
                               class="form-text text-danger" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_city"
                               jhiTranslate="myWeddingApp.weddingHall.city">City</label>
                        <ng-select [(ngModel)]="weddingHall.city"
                                   [items]="cities"
                                   bindLabel="cityName"
                                   id="field_city"
                                   name="city"
                                   required="true">
                        </ng-select>
                    </div>
                </div>
                <div class="gallery-details">
                    <h4 id="jhi-wedding-hall-gallery-heading"
                        jhiTranslate="myWeddingApp.weddingHall.home.galleryLabel">Gallery</h4>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="myWeddingApp.album.title" for="field_album_title">Album Title</label>
                        <input type="text" class="form-control" name="title" id="field_album_title"
                               [(ngModel)]="weddingHall.albums[0].title" required/>
                        <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div *ngFor="let photo of weddingHall.albums[0].photos">
                        <div class="form-group" [hidden]="!photo.id">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id"
                                   [(ngModel)]="photo.id" readonly/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="myWeddingApp.photo.title" for="field_title">Title</label>
                            <input type="text" class="form-control" name="title" id="field_title"
                                   [(ngModel)]="photo.title" required/>
                            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.title?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="myWeddingApp.photo.description"
                                   for="field_description">Description</label>
                            <textarea class="form-control" name="description" id="field_description"
                                      [(ngModel)]="photo.description"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="myWeddingApp.photo.image" for="field_image">Image</label>
                            <div>
                                <img [src]="'data:' + photo.imageContentType + ';base64,' + photo.image"
                                     style="max-height: 100px;" *ngIf="photo.image" alt="photo image"/>
                                <div *ngIf="photo.image" class="form-text text-danger clearfix">
                                    <span class="pull-left">{{photo.imageContentType}}, {{byteSize(photo.image)}}</span>
                                    <button type="button"
                                            (click)="clearInputImage(photo, 'image', 'imageContentType', 'fileImage')"
                                            class="btn btn-secondary btn-xs pull-right">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                    </button>
                                </div>
                                <input type="file" id="file_image" (change)="setFileData($event, photo, 'image', true)"
                                       accept="image/*" jhiTranslate="entity.action.addimage"/>
                            </div>
                            <input type="hidden" class="form-control" name="image" id="field_image"
                                   [(ngModel)]="photo.image" required/>
                            <input type="hidden" class="form-control" name="imageContentType"
                                   id="field_imageContentType"
                                   [(ngModel)]="photo.imageContentType"/>
                            <div [hidden]="!(editForm.controls.image?.dirty && editForm.controls.image?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.image?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button type="button"
                                (click)="newImage()"
                                class="btn btn-secondary btn-xs pull-right">
                            New image <fa-icon [icon]="'plus'"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
