<div>
    <h2 id="page-heading">
        <span jhiTranslate="myWeddingApp.company.home.title">Companies</span>
        <button [routerLink]="['/ext/company/new']" class="btn btn-primary float-right jh-create-entity create-company"
                id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="myWeddingApp.company.home.createLabel">
            Create new Company
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline" name="searchForm">
                <div class="input-group w-100 mt-3">
                    <input [(ngModel)]="currentSearch" class="form-control" id="currentSearch" name="currentSearch"
                           placeholder="{{ 'myWeddingApp.company.home.search' | translate }}" type="text">
                    <button (click)="search(currentSearch)" class="input-group-append btn btn-info">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button (click)="clear()" *ngIf="currentSearch" class="input-group-append btn btn-danger">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div *ngIf="companies" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="myWeddingApp.company.companyName">Company Name</span></th>
                <th><span jhiTranslate="myWeddingApp.company.street">Street</span></th>
                <th><span jhiTranslate="myWeddingApp.company.houseNo">House No</span></th>
                <th><span jhiTranslate="myWeddingApp.company.flatNo">Flat No</span></th>
                <th><span jhiTranslate="myWeddingApp.company.postalCode">Postal Code</span></th>
                <th><span jhiTranslate="myWeddingApp.company.country">Country</span></th>
                <th><span jhiTranslate="myWeddingApp.company.province">Province</span></th>
                <th><span jhiTranslate="myWeddingApp.company.city">City</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let company of companies ;trackBy: trackId">
                <td><a [routerLink]="['/ext/company', company.id, 'view' ]">{{company.id}}</a></td>
                <td>{{company.companyName}}</td>
                <td>{{company.street}}</td>
                <td>{{company.houseNo}}</td>
                <td>{{company.flatNo}}</td>
                <td>{{company.postalCode}}</td>
                <td>
                    <div *ngIf="company.country">
                        <a [routerLink]="['/ext/country', company.country?.id, 'view' ]">{{company.country?.countryName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="company.province">
                        <a [routerLink]="['/ext/province', company.province?.id, 'view' ]">{{company.province?.provinceName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="company.city">
                        <a [routerLink]="['/ext/city', company.city?.id, 'view' ]">{{company.city?.cityName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button [routerLink]="['/ext/company', company.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button [routerLink]="['/ext/company', company.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                type="submit">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button [routerLink]="['/ext/company', { outlets: { popup: company.id + '/delete'} }]"
                                class="btn btn-danger btn-sm"
                                queryParamsHandling="merge"
                                replaceUrl="true"
                                type="submit">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
